<div class="comment-wrapper">
	<%= form_for([@post, @post.comments.build]) do |f| %>
		<%= f.label :name, '姓名' %><br>
		<%= f.text_field :name, class: "form-control" %>
		<br>
		<%= f.label :body, '內容' %>
		<%= f.text_area :body, class: "form-control" %>
		<br>
		<%= f.submit '送出', class: "btn btn-default" %>
	<% end %>

	<div class="error">
		<% if @post.comments.build.errors.any? %>
	      <ul>
	      <% @post.comments.build.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>asdfasdf
		<% end %>
	</div>
</div>