<%= render 'header' %>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<% @posts.each do |post| %>
				<div class="post-preview">
					<p class="post-meta"><%= post.created_at.strftime("%B %d, %Y") %></p>
					<div class="post-edit">
						<% if current_user && post.user_id == current_user.id %>
							<%= link_to "編輯", edit_post_path(post) %>
							<%= link_to '刪除', post_path(post), :method => :delete, data: {confirm: "確定要刪除嗎?"} %>
						<% end %>
					</div>

					<%= link_to(
						raw("<h2 class='post-title'>#{post.title}</h2>
							<h3 class='post-content-'>#{ truncate(post.body, length: 10)}</h3>"
					),post_path(post))  %>

				</div>
				<hr></hr>
			<% end %>
		</div>
		<%= paginate @posts, :window =>2 %>
	</div>

</div>
