<h1>新增文章</h1>
<div class="error">
	<% if @post.errors.any? %>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
	<% end %>
</div>


<%= form_for @post, :url => posts_path, html:{class: 'new_event'} do |f| %>
<div>
<%= f.label :title, '標題' %>
<%= f.text_field :title %>
</div>
<div>
<%=  f.label :body, '內容'%>
<%=  f.text_area :body%>
</div>
<%= f.submit '新增'%>
<% end %>