<%= simple_format(@post.title, { class: 'title', id: 'title'}, wrapper_tag: "h2") %>

<%= simple_format(@post.body, {class: 'body', id: 'body'}, wrapper_tag: "p") %>
<%#= @post. %>
<%# link_to "Back to Index", :controller => 'posts', action: 'index' %>
<div id="comments">
	<h2><%= @post.comments.count %> Comments</h2>
	<%= render @post.comments %>

	<h3>Add a comment:</h3>
	<%= render "comments/form" %>
</div>


<%= link_to "<文章列表", posts_path %>