<%= render 'header' %>

<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<%= simple_format(@post.title, { class: 'title', id: 'title'}, wrapper_tag: "h1") %>
				<h5 class="meta"><%= "作者: #{@author}" %></h5>
				<%= simple_format(@post.body, {}, wrapper_tag: "p") %>
				<hr></hr>
				<div class="comments">
					<h3><%= @post.comments.count %> 則留言</h3>
					<%= render @post.comments %>

					<h4>留言:</h4>
					<%= render "comments/form" %>
				</div>

				<%= link_to "<文章列表", posts_path() %>
			</div>
			
		</div>
		
	</div>
</article>
