<div class="content">
	<%= simple_format(@post.title, { class: 'title', id: 'title'}, wrapper_tag: "h1") %>
	<h5><%= "作者: #{@author}" %></h5>
	<%= simple_format(@post.body, {class: 'body', id: 'body'}, wrapper_tag: "p") %>

	<div class="comments">
		<h3><%= @post.comments.count %> 則留言</h3>
		<%= render @post.comments %>

		<h4>留言:</h4>
		<%= render "comments/form" %>
	</div>

	<%= link_to "<文章列表", posts_path() %>
</div>